{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<article class="media">

  <div class="media-left">
      <figure class="image is-256x256">
        {% if account.avatar %}
          <img class="is-rounded" src="{{ account.avatar.url }}">
        {% else %}
          <img class="is-rounded" src="default/default-user.png">
        {% endif %}
      </figure>
  </div>

  <div class="media-content">

    <div class="content">
      <h1 style="font-weight: bold;" class="title is-1">{% if account.username %}{{ account.username }} {{ profile.first_name }} {% endif %}</h1>
      <h2 class="subtitle is-3">@{{ account.username }}</h2>


    </div>


<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Posts</p>
      {% if not posts_count is None %}
      <p class="title">{{ posts_count }}</p>
      {% else %}
      <p class="title">0</p>
      {% endif %}
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Following</p>
      <p class="title">{{ following_count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Followers</p>
      <p class="title">{{ followers_count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">"Почта"</p>
      <p class="title">{{ account.email }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Телефон</p>
      <p class="title">{{ account.phone }}</p>
    </div>
  </div>

</nav>
{% endblock %}

